html{
	font-family: "Podkova", serif;
}

body{
	margin: 0;
}

h1{
	font-family: inherit;
}

.Container{
	margin: 0 auto;
	max-width: 1152px;
}

.ProjectGrid{
	list-style: none;
	padding-left: 0;
}

.ProjectGrid li{
	float: left;
}

.ProjectGrid img{
	display: block;
}