html{
	font-family: "Podkova", serif;
}

body{
	color: #333;
	margin: 0;
}

a:link, a:visited{
	color: #c0392b;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1{
	font-family: inherit;
	line-height: 1;
}

blockquote{
	position: relative;
	float: left;
	margin-left: 0;
}

blockquote:before,
blockquote:after{
	color: #eee;
	font-size: 10em;
	position: absolute;
		z-index: -1;
}

blockquote:before {
	top: -0.2em;
	left: -0.3em;
	content: '\201C';
}

blockquote:after {
	bottom: -0.35em;
	right: -0.25em;
	content: '\201D';
}

.Container{
	margin: 0 auto;
	max-width: 1152px;
}

.ProjectGrid{
	clear: left;
	list-style: none;
	padding-left: 0;
}

.ProjectGrid li{
	float: left;
}

.ProjectGrid img{
	display: block;
}

.text-right{
	text-align: right;
}